<div class="header">
    <div class="header__container">
        <div class="header_logo">
            <img src="./assets/img/logo.svg" alt="">
            <h1>Ultra NFT</h1>
        </div>
        <div class="header_search">
            <i class="fa fa-search"></i>
            <input type="text">
        </div>
        <div class="header_menu">
            <h1 routerLinkActive="active" routerLink="/" [routerLinkActiveOptions]="{exact:true}">Home</h1>
            <h1 routerLinkActive="active" routerLink="/explore">Explore</h1>
            <h1 routerLinkActive="active" routerLink="/pages">Pages</h1>
            <h1 routerLinkActive="active" routerLink="/contact">Contact us</h1>
            <div class="connect">
                <img src="./assets/img/icons/Lefticon.svg" alt="">
                <h2>Connect Wallet</h2>
            </div>
        </div>
        <div class="hamburger">

            <div class="menu__block">
                <input type="checkbox" id="menu__toggle">
                <label for="menu__toggle" class="menu__btn">
                  <span></span>
                 </label>
                 <ul class="menu__box">  
                  <li class="menu__item" routerLink="/" >Home </li>
                  <li class="menu__item"  routerLink="/explore" >Explore </li>
                  <li  class="menu__item" routerLink="/pages">Pages </li>
                  <li  class="menu__item"  routerLink="/contact">Contact us </li>  
                  <div class="connect_mobile"> 
                    <img src="./assets/img/Lefticon.svg" alt="">
                    <h2>Connect Wallet</h2>
                  </div>
                </ul>
              </div>
        </div>
    </div>
</div>