<div class="footer">
    <div class="footer__container">
        <div class="footer_adress">
            <div class="footer-logo"> 
                <img src="./assets/img/logo.svg" alt="">
                <h1>Ultra NFT</h1> 
            </div>
            <div class="footer-text">
                We ara a lorem ipsum dolor sit amet, consectetur adipiscing elit, Ut enim ad minim veniam, quis nostrud equip consectetur adipiscing ex ea commodo dolor consequat
            </div>
            <div class="footer-personality">
                <div class="person_block">
                    <img src="./assets/img/icons/tel.svg" alt="">
                    <div class="myPhone">
                        <h2>Phone</h2>
                        <span>+992988888888</span>
                    </div>
                </div>
                <div class="person_block">
                    <img src="./assets/img/icons/mail.svg" alt="">
                    <div class="myPhone">
                        <h2>Mail</h2>
                        <span>+abuzer@greelogix.com</span>
                    </div>
                </div>
                <div class="person_block">
                    <img src="./assets/img/icons/geolocation.svg" alt="">
                    <div class="myPhone">
                        <h2>Address</h2>
                        <span>+N234 Johar Town, Lahore</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer_about">
            <div class="footer-support">
                <div class="support_block">
                    <h1>About</h1>
                    <h2>About us</h2>
                    <h2>Blog</h2>
                    <h2>Careers</h2>
                    <h2>Jobs</h2>
                    <h2>In Press</h2>
                    <h2>Gallery</h2>
                </div>
                <div class="support_block">
                    <h1>Support</h1>
                    <h2>Contact us</h2>
                    <h2>Online Chat</h2>
                    <h2>Whatsapp</h2>
                    <h2>Telegram</h2>
                    <h2>Ticketing</h2>
                    <h2>Call Center</h2>
                </div>
                <div class="support_block">
                    <h1>FAQ</h1> 
                    <h2>Account</h2> 
                    <h2>Manage Deliveries</h2> 
                    <h2>Orders</h2> 
                    <h2>Payments</h2> 
                    <h2>Returns</h2> 
                    <h2>Privacy Policy</h2> 
                </div>
            </div>
            <div class="footer-subtitle">
                <div class="subtitle_icons">
                    <img src="./assets/img/icons/facebook.svg" alt="">
                    <img src="./assets/img/icons/inL.svg" alt="">
                    <img src="./assets/img/icons/round.svg" alt="">
                </div>
                <div class="subtitle_text">
                    © 2012-2022, All Rights Reserved
                </div>
            </div>
        </div>
    </div>
</div>