<app-header></app-header>
<div class="container__page">
    <div class="discover__content">
        <div class="discover_text">
            <div class="discover-title">
                <h1>Discover, collect, and sell extraordinary <span>NFTs</span></h1>
                <p>NFT is the world's first and largest NFT marketplace</p>
            </div>
            <div class="discover-btn">
                <div class="explore_btn">
                    <img src="./assets/img/icons/explore_btn.svg" alt="">
                    <h2>Explore</h2>
                </div>
                <div class="create_btn">
                    <i class="fa fa-plus" ></i>
                    <h2>Create</h2>
                </div>
            </div>
        </div>
        <div class="discover_image">
            <img src="./assets/img/world.svg" alt="">
        </div>
    </div>
</div>