<app-header></app-header>
<div class="container__page">
  <div class="discover__content">
    <div class="discover_text">
      <div class="discover-title">
        <h1>Discover, collect, and sell extraordinary <span>NFTs</span></h1>
        <p>NFT is the world's first and largest NFT marketplace</p>
      </div>
      <div class="discover-btn">
        <div class="explore_btn">
          <img src="./assets/img/icons/explore_btn.svg" alt="" />
          <h2>Explore</h2>
        </div>
        <div class="create_btn">
          <i class="fa fa-plus"></i>
          <h2>Create</h2>
        </div>
      </div>
    </div>
    <div class="discover_image">
      <img src="./assets/img/world.svg" alt="" />
    </div>
  </div> 
  <div class="collection__content">
    <h1>How it Works</h1>
    <div class="collection__container">
      <div class="collection_block">
        <div class="icon">
          <img src="./assets/img/icons/Wallet.svg" alt="" />
        </div>
        <h3>Set up your Wallet</h3>
        <p>
          Once you’ve set up your wallet of choice, connect it to OpenSeaby
          clicking the NFT Marketplacein the top right corner.
        </p>
      </div>
      <div class="collection_block">
        <div class="icon">
          <img src="./assets/img/icons/collection.svg" alt="" />
        </div>
        <h3>Create your Collection</h3>
        <p>
          Click Create and set up your collection. Add social links, a
          description, profile & banner images, and set a secondary sales fee.
        </p>
      </div>
      <div class="collection_block">
        <div class="icon">
          <img src="./assets/img/icons/AddNft.svg" alt="" />
        </div>
        <h3>Add your NFTs</h3>
        <p>
          Upload your work (image, video, audio, or 3D art), add a title and
          description, and customize your NFTs with properties, stats
        </p>
      </div>
      <div class="collection_block">
        <div class="icon">
          <img src="./assets/img/icons/saleList.svg" alt="" />
        </div>
        <h3>List them for Sale</h3>
        <p>
          Choose between auctions, fixed-price listings, and declining-price
          listings. You choose how you want to sell your NFTs!
        </p>
      </div>
    </div>
  </div> 
  <div class="auctions__content">
    <div class="auctions__title">
      <h1>Live Auctions</h1>
      <div class="allExplore_btn">
        <img src="./assets/img/icons/explore_btn.svg" alt="" />
        <h2>Explore All</h2>
      </div>
    </div>

     <div class="auctions__container" > 
        <div class="auction_slider">
          <div class="auctions_block">
            <div class="auctions-icon">
              <img src="./assets/img/person.svg" alt="" />
            </div>
            <div class="auctions-person">
              <img src="./assets/img/avatarPerson.svg" alt="" />
              <div class="namePerson">
                <h3>Metaverse</h3>
                <h4>Created by <span>John Doe</span></h4>
              </div>
            </div>
            <div class="auctions-view">
              <div class="view_block">
                <img src="./assets/img/icons/hearts.svg" alt="" />
                <h3>372</h3>
              </div>
              <div class="view_block">
                <img src="./assets/img/icons/award.svg" alt="" />
                <h3>1/100</h3>
              </div>
              <div class="view_block">
                <img src="./assets/img/icons/ellips.svg" alt="" />
                <h3>5.00ETH</h3>
              </div>
            </div>
            <div class="auctions-btn">
              <div class="timer_btn">
                <img src="./assets/img/icons/Timer.svg" alt="" />
                <h3>12d 13h 56m</h3>
              </div>
              <div class="place_btn">
                <img src="./assets/img/icons/award.svg" alt="" />
                <h3>Place Bid</h3>
              </div>
            </div>
          </div>    
          <div class="auctions_block">
            <div class="auctions-icon">
              <img src="./assets/img/person.svg" alt="" />
            </div>
            <div class="auctions-person">
              <img src="./assets/img/avatarPerson.svg" alt="" />
              <div class="namePerson">
                <h3>Metaverse</h3>
                <h4>Created by <span>John Doe</span></h4>
              </div>
            </div>
            <div class="auctions-view">
              <div class="view_block">
                <img src="./assets/img/icons/hearts.svg" alt="" />
                <h3>372</h3>
              </div>
              <div class="view_block">
                <img src="./assets/img/icons/award.svg" alt="" />
                <h3>1/100</h3>
              </div>
              <div class="view_block">
                <img src="./assets/img/icons/ellips.svg" alt="" />
                <h3>5.00ETH</h3>
              </div>
            </div>
            <div class="auctions-btn">
              <div class="timer_btn">
                <img src="./assets/img/icons/Timer.svg" alt="" />
                <h3>12d 13h 56m</h3>
              </div>
              <div class="place_btn">
                <img src="./assets/img/icons/award.svg" alt="" />
                <h3>Place Bid</h3>
              </div>
            </div>
          </div>    
          <div class="auctions_block">
            <div class="auctions-icon">
              <img src="./assets/img/person.svg" alt="" />
            </div>
            <div class="auctions-person">
              <img src="./assets/img/avatarPerson.svg" alt="" />
              <div class="namePerson">
                <h3>Metaverse</h3>
                <h4>Created by <span>John Doe</span></h4>
              </div>
            </div>
            <div class="auctions-view">
              <div class="view_block">
                <img src="./assets/img/icons/hearts.svg" alt="" />
                <h3>372</h3>
              </div>
              <div class="view_block">
                <img src="./assets/img/icons/award.svg" alt="" />
                <h3>1/100</h3>
              </div>
              <div class="view_block">
                <img src="./assets/img/icons/ellips.svg" alt="" />
                <h3>5.00ETH</h3>
              </div>
            </div>
            <div class="auctions-btn">
              <div class="timer_btn">
                <img src="./assets/img/icons/Timer.svg" alt="" />
                <h3>12d 13h 56m</h3>
              </div>
              <div class="place_btn">
                <img src="./assets/img/icons/award.svg" alt="" />
                <h3>Place Bid</h3>
              </div>
            </div>
          </div>    
        </div>  
     </div>
  </div>
  <div class="popular__content">
    <div class="popular__title">
      <h1>Popular Collections</h1>
      <div class="allExplore_btn">
        <img src="./assets/img/icons/explore_btn.svg" alt="" />
        <h2>Explore All</h2>
      </div>
    </div>
    <div class="popular__container">
      <div class="popular_block">
        <div class="popular_icon">
          <img src="./assets/img/Image1.svg" alt="" />
          <img src="./assets/img/Image2.svg" alt="" />
          <img src="./assets/img/Image3.svg" alt="" />
          <img src="./assets/img/Image4.svg" alt="" />
        </div>

        <div class="popular-person">
          <img src="./assets/img/avatarPerson.svg" alt="" />
          <div class="namePerson">
            <h3>Metaverse</h3>
            <h4>Created by <span>John Doe</span></h4>
          </div>
          <div class="hearts_block">
            <img src="./assets/img/icons/hearts.svg" alt="" />
            <h3>372</h3>
          </div>
        </div>
      </div>
      <div class="popular_block">
        <div class="popular_icon">
          <img src="./assets/img/Image1.svg" alt="" />
          <img src="./assets/img/Image2.svg" alt="" />
          <img src="./assets/img/Image3.svg" alt="" />
          <img src="./assets/img/Image4.svg" alt="" />
        </div>

        <div class="popular-person">
          <img src="./assets/img/avatarPerson.svg" alt="" />
          <div class="namePerson">
            <h3>Metaverse</h3>
            <h4>Created by <span>John Doe</span></h4>
          </div>
          <div class="hearts_block">
            <img src="./assets/img/icons/hearts.svg" alt="" />
            <h3>372</h3>
          </div>
        </div>
      </div>
      <div class="popular_block">
        <div class="popular_icon">
          <img src="./assets/img/Image1.svg" alt="" />
          <img src="./assets/img/Image2.svg" alt="" />
          <img src="./assets/img/Image3.svg" alt="" />
          <img src="./assets/img/Image4.svg" alt="" />
        </div>

        <div class="popular-person">
          <img src="./assets/img/avatarPerson.svg" alt="" />
          <div class="namePerson">
            <h3>Metaverse</h3>
            <h4>Created by <span>John Doe</span></h4>
          </div>
          <div class="hearts_block">
            <img src="./assets/img/icons/hearts.svg" alt="" />
            <h3>372</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="sellers__content">
    <h1>Top Sellers</h1>
    <div class="sellers__container">
      <div class="sellers_block">
        <img src="./assets/img/avatarPerson.svg" alt="" />
        <div class="aboutPerson">
          <h2>John Doe</h2>
          <h3>ETH 242.21</h3>
        </div>
      </div>
      <div class="sellers_block">
        <img src="./assets/img/avatarPerson.svg" alt="" />
        <div class="aboutPerson">
          <h2>John Doe</h2>
          <h3>ETH 242.21</h3>
        </div>
      </div>
      <div class="sellers_block">
        <img src="./assets/img/avatarPerson.svg" alt="" />
        <div class="aboutPerson">
          <h2>John Doe</h2>
          <h3>ETH 242.21</h3>
        </div>
      </div>
      <div class="sellers_block">
        <img src="./assets/img/avatarPerson.svg" alt="" />
        <div class="aboutPerson">
          <h2>John Doe</h2>
          <h3>ETH 242.21</h3>
        </div>
      </div>
      <div class="sellers_block">
        <img src="./assets/img/avatarPerson.svg" alt="" />
        <div class="aboutPerson">
          <h2>John Doe</h2>
          <h3>ETH 242.21</h3>
        </div>
      </div>
      <div class="sellers_block">
        <img src="./assets/img/avatarPerson.svg" alt="" />
        <div class="aboutPerson">
          <h2>John Doe</h2>
          <h3>ETH 242.21</h3>
        </div>
      </div>
      <div class="sellers_block">
        <img src="./assets/img/avatarPerson.svg" alt="" />
        <div class="aboutPerson">
          <h2>John Doe</h2>
          <h3>ETH 242.21</h3>
        </div>
      </div>
      <div class="sellers_block">
        <img src="./assets/img/avatarPerson.svg" alt="" />
        <div class="aboutPerson">
          <h2>John Doe</h2>
          <h3>ETH 242.21</h3>
        </div>
      </div>
    </div>
  </div>
  <div class="picks__content">
    <h1>Today’s Picks</h1>
    <div class="picks__container">
      <div class="picks_block">
        <div class="picks-icon">
          <img src="./assets/img/person.svg" alt="" />
        </div>
        <div class="picks-person">
          <img src="./assets/img/avatarPerson.svg" alt="" />
          <div class="namePerson">
            <h3>Metaverse</h3>
            <h4>Created by <span>John Doe</span></h4>
          </div>
        </div>
        <div class="picks-view">
          <div class="view_block">
            <img src="./assets/img/icons/hearts.svg" alt="" />
            <h3>372</h3>
          </div>
          <div class="view_block">
            <img src="./assets/img/icons/ellips.svg" alt="" />
            <h3>5.00ETH</h3>
          </div>
        </div>
        <div class="picks-btn">
          <div class="view_btn">
            <img src="./assets/img/icons/view.svg" alt="" />
            <h3>View History</h3>
          </div>
          <div class="place_btn">
            <img src="./assets/img/icons/award.svg" alt="" />
            <h3>Place Bid</h3>
          </div>
        </div>
      </div>
      <div class="picks_block">
        <div class="picks-icon">
          <img src="./assets/img/person.svg" alt="" />
        </div>
        <div class="picks-person">
          <img src="./assets/img/avatarPerson.svg" alt="" />
          <div class="namePerson">
            <h3>Metaverse</h3>
            <h4>Created by <span>John Doe</span></h4>
          </div>
        </div>
        <div class="picks-view">
          <div class="view_block">
            <img src="./assets/img/icons/hearts.svg" alt="" />
            <h3>372</h3>
          </div>
          <div class="view_block">
            <img src="./assets/img/icons/ellips.svg" alt="" />
            <h3>5.00ETH</h3>
          </div>
        </div>
        <div class="picks-btn">
          <div class="view_btn">
            <img src="./assets/img/icons/view.svg" alt="" />
            <h3>View History</h3>
          </div>
          <div class="place_btn">
            <img src="./assets/img/icons/award.svg" alt="" />
            <h3>Place Bid</h3>
          </div>
        </div>
      </div>
      <div class="picks_block">
        <div class="picks-icon">
          <img src="./assets/img/person.svg" alt="" />
        </div>
        <div class="picks-person">
          <img src="./assets/img/avatarPerson.svg" alt="" />
          <div class="namePerson">
            <h3>Metaverse</h3>
            <h4>Created by <span>John Doe</span></h4>
          </div>
        </div>
        <div class="picks-view">
          <div class="view_block">
            <img src="./assets/img/icons/hearts.svg" alt="" />
            <h3>372</h3>
          </div>
          <div class="view_block">
            <img src="./assets/img/icons/ellips.svg" alt="" />
            <h3>5.00ETH</h3>
          </div>
        </div>
        <div class="picks-btn">
          <div class="view_btn">
            <img src="./assets/img/icons/view.svg" alt="" />
            <h3>View History</h3>
          </div>
          <div class="place_btn">
            <img src="./assets/img/icons/award.svg" alt="" />
            <h3>Place Bid</h3>
          </div>
        </div>
      </div>
      <div class="picks_block">
        <div class="picks-icon">
          <img src="./assets/img/person.svg" alt="" />
        </div>
        <div class="picks-person">
          <img src="./assets/img/avatarPerson.svg" alt="" />
          <div class="namePerson">
            <h3>Metaverse</h3>
            <h4>Created by <span>John Doe</span></h4>
          </div>
        </div>
        <div class="picks-view">
          <div class="view_block">
            <img src="./assets/img/icons/hearts.svg" alt="" />
            <h3>372</h3>
          </div>
          <div class="view_block">
            <img src="./assets/img/icons/ellips.svg" alt="" />
            <h3>5.00ETH</h3>
          </div>
        </div>
        <div class="picks-btn">
          <div class="view_btn">
            <img src="./assets/img/icons/view.svg" alt="" />
            <h3>View History</h3>
          </div>
          <div class="place_btn">
            <img src="./assets/img/icons/award.svg" alt="" />
            <h3>Place Bid</h3>
          </div>
        </div>
      </div>
      <div class="picks_block">
        <div class="picks-icon">
          <img src="./assets/img/person.svg" alt="" />
        </div>
        <div class="picks-person">
          <img src="./assets/img/avatarPerson.svg" alt="" />
          <div class="namePerson">
            <h3>Metaverse</h3>
            <h4>Created by <span>John Doe</span></h4>
          </div>
        </div>
        <div class="picks-view">
          <div class="view_block">
            <img src="./assets/img/icons/hearts.svg" alt="" />
            <h3>372</h3>
          </div>
          <div class="view_block">
            <img src="./assets/img/icons/ellips.svg" alt="" />
            <h3>5.00ETH</h3>
          </div>
        </div>
        <div class="picks-btn">
          <div class="view_btn">
            <img src="./assets/img/icons/view.svg" alt="" />
            <h3>View History</h3>
          </div>
          <div class="place_btn">
            <img src="./assets/img/icons/award.svg" alt="" />
            <h3>Place Bid</h3>
          </div>
        </div>
      </div>
      <div class="picks_block">
        <div class="picks-icon">
          <img src="./assets/img/person.svg" alt="" />
        </div>
        <div class="picks-person">
          <img src="./assets/img/avatarPerson.svg" alt="" />
          <div class="namePerson">
            <h3>Metaverse</h3>
            <h4>Created by <span>John Doe</span></h4>
          </div>
        </div>
        <div class="picks-view">
          <div class="view_block">
            <img src="./assets/img/icons/hearts.svg" alt="" />
            <h3>372</h3>
          </div>
          <div class="view_block">
            <img src="./assets/img/icons/ellips.svg" alt="" />
            <h3>5.00ETH</h3>
          </div>
        </div>
        <div class="picks-btn">
          <div class="view_btn">
            <img src="./assets/img/icons/view.svg" alt="" />
            <h3>View History</h3>
          </div>
          <div class="place_btn">
            <img src="./assets/img/icons/award.svg" alt="" />
            <h3>Place Bid</h3>
          </div>
        </div>
      </div>
    </div>
    <div class="load__btn">
      <div class="loadmore" routerLink="/explore">
        <img src="./assets/img/icons/loadmore.svg" alt="" />
        <h3>Load More</h3>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
