.container__page{
    margin: 30px auto;
    .discover__content{ 
        max-width: 1200px; 
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        .discover_text{
            width: 40%;
            .discover-title{
                h1{
                    font-family: 'Urbanist',sans-serif; 
                    font-weight: 700;
                    font-size: 48px; 
                    color: #FFFFFF;
                    span{
                        color: #FD1C68;
                    }
                }
                p{
                    font-family: 'Urbanist' ,sans-serif; 
                    font-weight: 400;
                    font-size: 20px; 
                    color: #FFFFFF;
                    margin-top: 40px;
                    
                }
            }
            .discover-btn{
                display: flex;
                justify-content: flex-start;
                align-content: center;
                margin-top: 40px;
                .explore_btn{ 
                    width: 200px;
                    background: radial-gradient(#FDAE8F,#FD1C68); 
                    display: flex;
                    align-items: center;
                    padding: 15px 40px;
                    cursor: pointer; 
                    border-radius: 15px;
                   
                    &:active{
                        transform: scale(.96);
                    }
                    h2{
                        font-family: 'Urbanist', sans-serif; 
                        font-weight: 700;
                        font-size: 20px; 
                        color: #FFFFFF;
                        margin-left: 10px;
                    }
                }
                .create_btn{ 
                    width: 200px;  
                    display: flex;
                    align-items: center;
                    padding: 15px 40px;  
                    cursor: pointer; 
                    border-radius: 15px; 
                    margin-left: 30px;
                    border: 1px solid #ccc;
                    &:active{
                        transform: scale(.96);
                    }
                    .fa{
                        color: #fff;
                        font-size: 20px;
                    }
                    h2{
                        font-family: 'Urbanist', sans-serif; 
                        font-weight: 700;
                        font-size: 20px; 
                        color: #FFFFFF;
                        margin-left: 10px;
                    }
                }
            }
        }
        .discover_image{
            width: 60%;
            img{
                width: 100%; 
            }
        } 
        @media screen and (max-width:965px) {
            flex-direction: column-reverse;
            .discover_text{
                width: 100%;
                .discover-title{
                    h1{
                        font-size: 35px;
                    }
                    p{
                        font-size: 16px;
                    }
                }
            }
            .discover_image{
                width: 60%;
            }
        }
        @media screen and (max-width:500px) { 
            .discover_text{ 
                .discover-btn{ 
                    flex-direction: column;
                    .explore_btn{ 
                        width: 100%;
                        
                    }
                    .create_btn{   
                        width: 100%;
                        margin-left: 0;
                        margin-top: 20px;   
                    }
                }
            } 
        }
    }
    .collection__content{
        padding: 0 20px;
        max-width: 1200px; 
        margin: auto;
        margin-top: 140px;
        h1{
            font-family: 'Urbanist', sans-serif; 
            font-weight: 700;
            font-size: 64px; 
            color: #FFFFFF;
            text-align: center;
        }
        .collection__container{
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            margin-top: 30px;

            .collection_block{
                display: flex;
                justify-content: center;
                flex-direction: column;
                width: 290px; 
                padding: 20px 10px;
                .icon{
                    display: flex;
                    justify-content: center; 
                    img{
                        width: 80px;
                        height: 80px;
                    }
                }
                h3{
                    text-align: center;
                    font-family: 'Urbanist', sans-serif; 
                    font-weight: 700;
                    font-size: 24px; 
                    color: #FFFFFF;
                    margin-top: 20px;
                }
                p{
                    text-align: center;
                    font-family: 'Urbanist', sans-serif; 
                    font-weight: 400;
                    font-size: 16px; 
                    color: #FFFFFF;
                    margin-top: 10px;
                }
            }
            
        }
        @media screen and (max-width:650px) {
            h1{
                font-size: 40px;
            }
            .collection__container{
                justify-content: center;
            }
        }
    }
    .auctions__content{
        padding: 0 20px;  
        margin: auto;
        max-width: 1800px;
        margin-top: 100px;
        .auctions__title{
            max-width: 1200px; 
            margin: auto;
            display: flex;  
            align-items: center;
            justify-content: space-between;
            h1{
                font-family: 'Urbanist', sans-serif; 
                font-weight: 700;
                font-size: 60px; 
                color: #FFFFFF;
                
            }
            .allExplore_btn{
                width: 200px; 
                padding: 15px 0;
                background: radial-gradient(#FDAE8F,#FD1C68); 
                display: flex;
                align-items: center; 
                justify-content: center;
                cursor: pointer; 
                border-radius: 15px; 
                &:active{
                    transform: scale(.96);
                }
                h2{
                    font-family: 'Urbanist', sans-serif; 
                    font-weight: 700;
                    font-size: 20px; 
                    color: #FFFFFF;
                    margin-left: 10px;
                }
            }
        } 
        .auctions__container{  
            margin-top: 30px; 
            display: flex; 
            align-items: center;
            justify-content: center; 
            flex-wrap: wrap;
            .auctions_block{
                max-width: 500px;
                background: rgba(255, 255, 255, 0.2);
                padding: 30px 0;
                border-radius: 30px;   
                margin-right: 30px;
                margin-top: 20px;
                .auctions-icon{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    img{
                        width: 90%; 
                    }
                }
                .auctions-person{
                    width: 90%;
                    margin: 30px auto;
                    display: flex;
                    align-items: center;
                    
                    img{
                        width: 50px;
                    }
                    .namePerson{
                        margin-left: 20px;
                        h3{
                            font-family: 'Urbanist', sans-serif; 
                            font-weight: 700;
                            font-size: 24px; 
                            color: #FFFFFF;
                        }
                        h4{
                            font-family: 'Urbanist', sans-serif; 
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 24px; 
                            color: #8393AF;
                            span{
                                color: #fff;
                            }
                        }
                    }
                }
                .auctions-view{
                    width: 90%;
                    margin: 30px auto;
                    display: flex;
                    align-items: center;
                    justify-content: space-around;
                    .view_block{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;
                        img{
                            width: 30px;
                            height: 30px;

                        }
                        h3{
                            font-family: 'Urbanist',sans-serif;  
                            font-weight: 400;
                            font-size: 16px; 
                            color: #FFFFFF;  
                        }
                    }
                }
                .auctions-btn{
                    width: 90%;
                    margin: auto;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;  
                    .timer_btn{ 
                        width: 180px; 
                        padding: 20px 10px;
                        display: flex;
                        align-items: center;
                        background: #3C485D; 
                        border-radius: 12px; 
                        cursor: pointer;
                        &:active{
                            transform: scale(.96);
                        }  
                        img{
                            width: 30px;
                            height: 30px;
                        }
                        h3{
                            font-family: 'Urbanist', sans-serif; 
                            font-weight: 700;
                            font-size: 16px; 
                            color: #FFFFFF;
                            margin-left: 10px;
                            
                        }
                    }
                    
                    .place_btn{ 
                        width: 250px;
                        padding: 20px 20px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background: linear-gradient(207.67deg, #FDAE8F 3.43%, #FD1C68 104.7%);
                        border-radius: 12px;
                        cursor: pointer;  
                        margin-left: 20px;
                        &:active{
                            transform: scale(.96);
                        }
                        img{
                            width: 30px;
                            height: 30px;
                        }
                        h3{
                            font-family: 'Urbanist', sans-serif; 
                            font-weight: 700;
                            font-size: 16px; 
                            color: #FFFFFF;
                            margin-left: 10px; 
                        }
                    }
                  

                }
            } 
           
            
        }
        @media screen and (max-width:1000px){
            .auctions__container{ 
                .auctions_block{
                    margin-right: 0;
                }
            }
        }
        @media screen and (max-width:650px){
            .auctions__container{ 
            }
            .auctions__title{ 
                h1{
                    font-size: 40px;
                }
                .allExplore_btn{
                    width: 150px;
                }
            }
        }
        @media screen and (max-width:580px){
           .auctions__container{ 
            .auctions_block{   
                .auctions-person{
                    width: 90%;
                    margin: 30px auto;
                    display: flex;
                    align-items: center;
                     
                    .namePerson{ 
                        h3{ 
                            font-size: 20px;  
                        }
                        h4{ 
                            line-height: 20px; 
                        }
                    }
                } 
                .auctions-btn{ 
                    flex-direction: column;
                    .timer_btn{   
                        width: 100%;
                        justify-content: center;
                    } 
                    .place_btn{  
                        width: 100%;
                        margin-left: 0;
                        margin-top: 20px;
                    } 

                }
            } 
           }
        }
        @media screen and (max-width:450px){
            .auctions__title{
                flex-direction: column;
                .allExplore_btn{
                    width: 100%;
                    margin-top: 20px;
                }
            }
        }
    }
    .popular__content{ 
        padding: 0 20px;
        max-width: 1200px; 
        margin: auto; 
        margin-top: 150px;
        .popular__title{
            max-width: 1200px; 
            margin: auto;
            display: flex;  
            align-items: center;
            justify-content: space-between;
            h1{
                font-family: 'Urbanist', sans-serif; 
                font-weight: 700;
                font-size: 60px; 
                color: #FFFFFF;
                
            }
            .allExplore_btn{
                width: 200px; 
                padding: 15px 0;
                background: radial-gradient(#FDAE8F,#FD1C68); 
                display: flex;
                align-items: center; 
                justify-content: center;
                cursor: pointer; 
                border-radius: 15px; 
                &:active{
                    transform: scale(.96);
                }
                h2{
                    font-family: 'Urbanist', sans-serif; 
                    font-weight: 700;
                    font-size: 20px; 
                    color: #FFFFFF;
                    margin-left: 10px;
                }
            }
            @media screen and (max-width:800px){ 
                h1{
                    font-size: 35px;
                }  
            }
            @media screen and (max-width:580px){ 
                h1{
                    font-size: 30px;
                }
                .allExplore_btn{ 
                    width: 150px;
                } 
            }
            
        @media screen and (max-width:480px){ 
            flex-direction: column;
            .allExplore_btn{
                width: 100%;
                margin-top: 20px;
            } 
        }
        }
        .popular__container{   
            margin-top: 30px; 
            display: flex; 
            align-items: center;
            justify-content: space-between;  
            .popular_block{
                max-width:380px;
                background:rgba(255, 255, 255, 0.2); 
                border-radius:25px;
                margin-left:20px;
                padding: 20px;
                .popular_icon{
                    display: flex;     
                    flex-wrap: wrap; 
                    justify-content: center;
                    gap:15px;
                    img{
                        width: 45%; 
                        
                    }
                }
                .popular-person{
                    width: 90%;
                    margin: 30px auto;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    img{
                        width: 50px;
                    }
                    .namePerson{
                        margin-left: 20px;
                        h3{
                            font-family: 'Urbanist', sans-serif; 
                            font-weight: 700;
                            font-size: 24px; 
                            color: #FFFFFF;
                        }
                        h4{
                            font-family: 'Urbanist', sans-serif; 
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 24px; 
                            color: #8393AF;
                            span{
                                color: #fff;
                            }
                        }
                    }
                    .hearts_block{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;
                        margin-left: 20px;
                        img{
                            width: 30px;
                            height: 30px;
            
                        }
                        h3{
                            font-family: 'Urbanist',sans-serif;  
                            font-weight: 400;
                            font-size: 16px; 
                            color: #FFFFFF;  
                        }
                    }
                    
                }
            }
            @media screen and (max-width:1150px) {
                flex-direction: column;
                .popular_block{
                    margin-top: 20px;
                    margin-left: 0;
                }
            }
            @media screen and (max-width:450px) { 
                .popular_block{
                    .popular-person{ 
                        .namePerson{
                            margin-left: 20px;
                            h3{ 
                                font-size: 16px;  
                            }
                            h4{ 
                                font-size: 14px; 
                            }
                        }
                        .hearts_block{ 
                            h3{ 
                                font-size: 14px;  
                            }
                        }
                        
                    }
                }
            }
        } 
    }
    .sellers__content{
        max-width: 1200px; 
        padding: 0 20px;
        margin:150px auto 0;  
        h1{
            font-family: 'Urbanist',sans-serif; 
            font-weight: 700;
            font-size: 64px; 
            text-align: center; 
            color: #FFFFFF;
        }
        .sellers__container{ 
            margin-top: 30px;   
            // display: grid;
            // grid-template-columns: repeat(4,2fr);
            display: flex; 
            flex-wrap: wrap; 
            justify-content: center;
            gap: 20px;
            .sellers_block{
                width: 270px;
                background: rgba(255, 255, 255, 0.2);
                border-radius: 25px;
                padding: 30px 20px;
                display: flex;
                align-items: center;  
                img{
                    width: 70px;
                    height: 70px;
                }
                .aboutPerson{
                    margin-left: 20px;
                    h2{
                        font-family: 'Urbanist',sans-serif; 
                        font-weight: 700;
                        font-size: 20px; 
                        color: #FFFFFF;
                    }
                    h3{
                        font-family: 'Urbanist',sans-serif; 
                        font-weight: 400;
                        font-size: 16px; 
                        color: #8393AF;
                    }
                    
                }
            }
        }
        @media screen and  (max-width:600px){
            h1{
                font-size: 50px;
            }                
        }
    }
    .picks__content{
        padding: 0 20px;  
        max-width: 1200px;
        margin:auto;
        margin-top: 100px;
        margin-bottom: 100px;
        h1{
            font-family: 'Urbanist',sans-serif; 
            font-weight: 700;
            font-size: 64px; 
            text-align: center; 
            color: #FFFFFF;
        }
        .picks__container{ 
            margin-top: 30px; 
            display: flex; 
            align-items: center;
            justify-content: center; 
            flex-wrap: wrap;
            gap: 20px;
            .picks_block{
                width: 370px;
                background: rgba(255, 255, 255, 0.2);
                padding: 30px 0;
                border-radius: 30px; 
                .picks-icon{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    img{
                        width: 90%; 
                    }
                }
                .picks-person{
                    width: 90%;
                    margin: 30px auto;
                    display: flex;
                    align-items: center;
                    
                    img{
                        width: 50px;
                    }
                    .namePerson{
                        margin-left: 20px;
                        h3{
                            font-family: 'Urbanist', sans-serif; 
                            font-weight: 700;
                            font-size: 24px; 
                            color: #FFFFFF;
                        }
                        h4{
                            font-family: 'Urbanist', sans-serif; 
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 24px; 
                            color: #8393AF;
                            span{
                                color: #fff;
                            }
                        }
                    }
                }
                .picks-view{
                    width: 90%;
                    margin: 30px auto;
                    display: flex;
                    align-items: center;
                    justify-content: space-around;
                    .view_block{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;
                        img{
                            width: 30px;
                            height: 30px;

                        }
                        h3{
                            font-family: 'Urbanist',sans-serif;  
                            font-weight: 400;
                            font-size: 16px; 
                            color: #FFFFFF;  
                        }
                    }
                }
                .picks-btn{
                    width: 90%;
                    margin: auto;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;  
                    .view_btn{ 
                        width: 180px; 
                        padding: 20px 10px;
                        display: flex;
                        align-items: center;
                        background: #3C485D; 
                        border-radius: 12px; 
                        cursor: pointer;
                        &:active{
                            transform: scale(.96);
                        }  
                        h3{
                            font-family: 'Urbanist', sans-serif; 
                            font-weight: 700;
                            font-size: 16px; 
                            color: #FFFFFF;
                            margin-left: 10px;
                            
                        }
                    }
                  
                    .place_btn{ 
                        width: 180px;
                        padding: 20px 20px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background: linear-gradient(207.67deg, #FDAE8F 3.43%, #FD1C68 104.7%);
                        border-radius: 12px;
                        cursor: pointer;  
                        margin-left: 20px;
                        &:active{
                            transform: scale(.96);
                        }
                        h3{
                            font-family: 'Urbanist', sans-serif; 
                            font-weight: 700;
                            font-size: 16px; 
                            color: #FFFFFF;
                            margin-left: 10px;
    
                            
                        }
                    }
                  

                }
            } 
            
        }
        .load__btn{
            display: flex;
            justify-content: center;
            margin-top: 80px;
            .loadmore{
                width: 250px; 
                padding: 15px 0;
                background: radial-gradient(#FDAE8F,#FD1C68); 
                display: flex;
                align-items: center; 
                justify-content: center;
                cursor: pointer; 
                border-radius: 15px; 
                &:active{
                    transform: scale(.96);
                }
                h3{
                    font-family: 'Urbanist', sans-serif; 
                    font-weight: 700;
                    font-size: 20px; 
                    color: #FFFFFF;
                    margin-left: 10px;
                }
            }
          
        }
        @media screen and (max-width:580px){
           .picks__container{
            .picks_block{  
                .picks-person{
                    width: 90%;
                    margin: 30px auto;
                    display: flex;
                    align-items: center;
                     
                    .namePerson{ 
                        h3{ 
                            font-size: 20px;  
                        }
                        h4{ 
                            line-height: 20px; 
                        }
                    }
                } 
                .picks-btn{ 
                    flex-direction: column;
                    .view_btn{   
                        width: 100%;
                        justify-content: center;
                    } 
                    .place_btn{  
                        width: 100%;
                        margin-left: 0;
                        margin-top: 20px;
                    } 

                }
            } 
           }
        }
    }
}