<app-header></app-header>
<div class="explore__page">
  <h1>Explore</h1>
  <div class="homeLink">
    <h2 routerLink="/">Home /</h2>
    <h3>Explore</h3>
  </div>
  <div class="explore__options">
    <div class="options_collection">
      <div class="option_block">
        <select name="collection" id="collection">
          <option value="volvo">All Collection</option>
          <option value=""></option>
        </select>
      </div>
      <div class="option_block">
        <select name="buy" id="buy">
          <option value="volvo">Buy Now</option>
          <option value=""></option>
        </select>
      </div>
      <div class="option_block">
        <select name="items" id="items">
          <option value="volvo">All Items</option>
          <option value=""></option>
        </select>
      </div>
    </div>
    <div class="options_sort">
      <div class="sort_block">
        <select name="collection" id="collection">
          <option value="volvo">All Artworks</option>
          <option value=""></option>
        </select>
      </div>
      <div class="sort_block">
        <select name="collection" id="collection">
          <option value="volvo">Sort by</option>
          <option value=""></option>
        </select>
      </div>
    </div>
  </div>
  <div class="picks__content"> 
    <div class="picks__container">
      <div class="picks_block" *ngFor="let picks of picksBlock">
        <div class="picks-icon"> 
          <img [src]="picks.img" alt="" />
        </div>
        <div class="picks-person">
          <img [src]="picks.avatar" alt="" />
          <div class="namePerson">
            <h3>{{picks.name}}</h3>
            <h4>Created by <span>{{picks.byName}}</span></h4>
          </div>
        </div>
        <div class="picks-view">
          <div class="view_block">
            <img src="./assets/img/icons/hearts.svg" alt="" />
            <h3>372</h3>
          </div>
          <div class="view_block">
            <img src="./assets/img/icons/ellips.svg" alt="" />
            <h3>5.00ETH</h3>
          </div>
        </div>
        <div class="picks-btn">
          <div class="view_btn">
            <img src="./assets/img/icons/view.svg" alt="" />
            <h3>View History</h3>
          </div>
          <div class="place_btn">
            <img src="./assets/img/icons/award.svg" alt="" />
            <h3>Place Bid</h3>
          </div>
        </div>
      </div> 
    </div>
    <div class="load__btn">
      <div class="loadmore">
        <img src="./assets/img/icons/loadmore.svg" alt="" />
        <h3>Load More</h3>
      </div>
    </div>
  </div>
</div>
